{% extends "base.html" %}
{% block title %}상품 상세보기{% endblock %}
{% block content %}
<h1>{{ product.title }}</h1>
<p>{{ product.description }}</p>
<p>가격: {{ product.price }}원</p>
<p>판매자: <a href="{{ url_for('view_user_profile', user_id=product['seller_id']) }}">{{ product['seller_name'] }}</a></p>

{% if session['user_id'] != product['seller_id'] %}
    <form action="{{ url_for('process_payment', product_id=product.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit">구매하기</button>
    </form>
    <form action="{{ url_for('view_chat_history', user_id=product['seller_id']) }}" method="GET">
        <button type="submit">판매자와 대화하기</button>
    </form>
    <form action="{{ url_for('report') }}" method="GET">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <button type="submit">신고하기</button>
    </form>
    
{% endif %}
<a href="{{ url_for('dashboard') }}">대시보드로 돌아가기</a>
{% endblock %}
